.App {
}

header.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: green;
  padding: 5px;
  background-color: rgb(170, 170, 170);
}

header.header img {
  width: 50px;
}

.box {
  max-width: 80%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  padding: 10px;
  margin: 50px auto;
  border-radius: 5px;
  overflow: hidden;
}

p {
  font-size: 18px;
  text-align: center;
}

ul {
  list-style: none;
  font-size: 18px;
}

li {
  margin: 6px;
  padding: 10px;
}

.completed {
  box-shadow: 0px 0px 4px rgba(9, 239, 166, 0.388);
}
.not-completed {
  box-shadow: 0px 0px 4px rgba(236, 41, 80, 0.393);
}
.btn-delete {
  float: right;
  background-color: rgb(211, 26, 75);
  padding: 5px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-toggle {
  background-color: rgb(26, 72, 211);
  padding: 5px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.box-notice {
  background-color: rgb(249, 31, 75);
  position: relative;
}

.box-notice .close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 100%;
  background-color: white;
  color: red;
  border: 1px solid white;
  cursor: pointer;
}

.hide {
  display: none;
}
