.App {
}

.box {
  max-width: 80%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  padding: 10px;
  margin: 50px auto;
  border-radius: 5px;
}

p {
  font-size: 18px;
  text-align: center;
}

/* button {
  padding: 10px;
  margin: 5px;
  font-size: 18px;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
} */

/* button.sub {
  background-color: rgb(211, 26, 75);
}
 */
/* 
button.btn-del {
  float: right;
  display: block;
} */

ul {
  list-style: none;
  font-size: 18px;
}

li {
  margin: 6px;
  padding: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.393);
}

.btn-delete {
  float: right;
  background-color: rgb(211, 26, 75);
  padding: 5px;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
